@font-face {
    font-family: 'HarmonyOs_Regular';
    font-display: swap;
    src: url('http://axinup.com/font/HarmonyOS_Sans_Regular.ttf') format("truetype");

    font-family: 'Consolas';
    font-display: swap;
    src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf") format("truetype");

    font-family: 'Loli';
    font-display: swap;
    src: url("http://axinup.com/font/AnandaBlackPersonalUseRegular-rg9Rx.ttf") format("Loli");

}
